.navbar-item {
    box-shadow: 0 .5rem 1rem #00000026!important;
}

.list-control2 {
    align-self: flex-end;
    padding-top: 17px;
    margin-bottom: 10px;
    align-items: center;
    align-self: center;
}

.repository {
    margin-top: 50px;
}

.internal {
    margin-top: 10px;
    margin-bottom: 10px;
}